<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
    <link rel="stylesheet" href="/css/style1.css">

</head>
<body>
    <header>

        <div id ="container">
        
        <h1>CRASS</h1>
        
        <div class = "navigation">
            <ul>
                <li class="home">
                    <a href="./home.htlm">HOME</a>
                </li>
                <li class="home">
                    <a href="./about-page.htlm">ABOUT</a>
                </li>
                <li class="home">
                    <a href="./music-page.htlm">MUSIC</a>
                </li>
                           
            </ul>

            <img src="./images/home.jpg" alt="" />

        </div>
    </header>
    
    <div class = "foto"></div>
</body>
</html>