<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
    <link rel="stylesheet" href="/css/style3.css">

</head>
<body>
    <header>

        <div id ="container">
        
        <h1>CRASS</h1>
        
        <div class = "navigation">
            <ul>
                <li class="home">
                    <a href="./home.htlm">HOME</a>
                </li>
                <li class="home">
                    <a href="./about-page.htlm">ABOUT</a>
                </li>
                <li class="home">
                    <a href="./music-page.htlm">MUSIC</a>
                </li>
                            
            </ul>

            <img src="./images/home.jpg" alt="" />

        </div>
    </header>

    
    <h2>Albums</h2>
    <div id="albums">
        <img src="./images/album 1.jpg" alt="" />
        <p>1978–1979: The Feeding of the 5000</p>
        <img src="./images/album 2.jpg" alt="" />
        <p>1979: Stations of the Crass and Bloody Revolutions</p>
        <img src="./images/album 3.jpg" alt="" />
        <p>1980: Bullshit Detector</p>
        <img src="./images/album 4.jpg" alt="" />
        <p>1981: Penis Envy</p>
        <img src="./images/album 5.jpg" alt="" />
        <p>1982: Christ – The Album</p>
        <img src="./images/album 6.jpg" alt="" />
        <p>1983: Yes Sir, I Will</p>
        <img src="./images/album 7.jpg" alt="" />
        <p>1986: Best Before 1984</p>
        <img src="./images/album 8.jpg" alt="" />
        <p>1986: Ten Notes on a Summer's Day</p>
        <img src="./images/album 9.jpg" alt="" />
        <p>1989: Christ The Bootleg (Christ: The Bootleg)</p>
        <img src="/images/album 10.jpg" alt="" />
        <p>1993: You'll Ruin It for Everyone</p>

    </div>
    
</body>
</html>